*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
body{
    width: 100vw;
    max-height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/763/896/original/abstract-watercolor-soft-dark-blue-smoke-layer-gradient-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 70%;
}

.header{
    display: flex;
    justify-content: flex-end;
    
}
.btn{
    margin: 0.9em;
    padding: 0.7em;
    background-color:  #ffa700;
    color:white;
    font-weight: bold;
    cursor: pointer;   
    border: none;
    border-radius: 0.5em; 
}
.btn:hover{
    background-color: #ffa700d4;
}
.btn1{
    position: fixed;
    top: 4em;
    right: 2em;
    margin: 0.1em;
    padding: 0.7em;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
table{
    display:flex;
    flex-direction: column;
}
#user-table thead > tr{
    display: flex;
    justify-content:flex-start;
}
thead > tr > th{
    width: 30%;
}
thead tr > th:first-child{
    width: 5%;
}
#user-table tbody > tr{
    display: flex;
}
tbody tr > td{
    display: flex;
    justify-content: center;
    align-items:center;
    width:30%;
}
tbody tr > td:last-child{
    flex-direction: column;
}
tbody tr > td:last-child , tbody tr > td:first-child {
    width:5%;
}
tbody tr > td > button:last-child{
    border-bottom:none !important;
}
tbody tr > td > button:first-child{
    border-top:none !important;
}
tbody tr:first-child > td:last-child > button:first-child{
    border-top:1px solid white !important;
}

table,th,td{
    border: 1px solid #fff;
}
#user-table{
    border-collapse: collapse;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/763/896/original/abstract-watercolor-soft-dark-blue-smoke-layer-gradient-background-free-vector.jpg");
    background-repeat: no-repeat;
    /* background-size: 1000px 350px; */background-size: cover;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input{
    color:black;
    font-weight:500;
    outline: none;
}
.close {
    font-size: 40px;
    font-weight: bold;
}

.close:hover {
    color: orange;
    cursor: pointer;
}
form{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.inputText, .inputText> .miniBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
}
@media screen and (max-width: 1380px){
    .inputText{
        display:flex;
        width:50%;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1090px){
    .inputText{
        display:flex;
        flex-direction: column;
    }
}
